body{
    margin: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: rgb(207, 255, 140)
}
h1{
    color: rgb(255, 81, 81);
    font-weight: bold;
    margin-left: 20px;
}
video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.container{
    display: flex;
    justify-content: center;
}
#heightInfo{
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    transform: translate(-50%,-100%);
    border-bottom: 3px solid rgb(251, 66, 66);
    width: 500px;
    z-index: 1;
}
.slider{
    position: relative;
    z-index: 1;
    margin-top: 520px;
    margin-right: 20px;
    background-color: rgb(224, 158, 255);
    padding: 10px 15px;
    border: 1px solid rgb(89, 128, 255);
    border-radius: 50px;
    font-weight: bold;
}